/* General Container Styles
.product-list-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 80px auto 20px; 
}


.product-table .ant-table-thead > tr > th {
  background-color: #333;
  color: white;
  font-weight: bold;
  text-align: center;
}

.product-table .ant-table-tbody > tr > td {
  text-align: center;
  color: #555;
}

.product-table .ant-table-row:nth-child(odd) {
  background-color: #f7f7f7;
}

.product-table .ant-table-row:nth-child(even) {
  background-color: #fff;
}

.product-table .ant-pagination-item {
  border-color: #333;
}

.product-table .ant-pagination-item-active {
  background-color: #333;
  border-color: #333;
  color: white;
}


.ant-drawer-body {
  display: flex;
  flex-direction: column;
}

.filter-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.filter-button:hover {
  background-color: #f39c12;
  color: #fff;
}


.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.search-bar .ant-input {
  border-radius: 5px;
}

.search-bar .ant-btn {
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  padding-top: 10px;
}

.search-bar .ant-btn:hover {
  background-color: #f39c12;
}


.ant-row {
  display: flex;
  align-items: center; 
}


.ant-input-search {
  margin-right: 10px; 
}


.ant-btn {
  height: 40px;
  line-height: 40px; 
}
 