.product-detail {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  text-align: center;
  position: relative; /* Set relative positioning for arrow placement */
}

.product-title {
  padding-top: 5px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.product-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.product-detail p {
  font-size: 1rem;
  margin: 10px 0;
}

.product-detail p strong {
  color: black;
}

/* Back Arrow Styling */
.back-arrow {
  position: absolute; /* Position it absolutely */
  top: 20px; /* Adjust top spacing */
  left: 20px; /* Place it towards the left */
  font-size: 24px; /* Set the font size */
  cursor: pointer;
  color: #444; /* Dark color for the arrow */
}

.back-arrow:hover {
  color: #000; /* Change color on hover for better visibility */
}

@media (max-width: 768px) {
  .product-image {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .product-image {
    max-width: 200px;
  }
}