.all{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .form-container {
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  h2 {
    color: black;
    margin-bottom: 20px;
  }
  
  .form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f7f7f7;
  }
  
  .form input:focus {
    outline: none;
    border-color: #333;
  }
  
  .form button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #555;
  }
  
  .toggle-container {
    margin-top: 20px;
  }
  
  .toggle-container span {
    color: #888;
    font-size: 14px;
  }
  
  .toggle-container button {
    background: none;
    color: #333;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .toggle-container button:hover {
    color: #555;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
  }